@import './variables';

.video-sec {
    background-image: url(../assets/imgs/Video-sec.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

._title {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 42px;
    line-height: 119%;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        margin-top: 80px;
        margin-bottom: 30px;
    }

}

._video-info-sec {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;


}

._info {
    display: flex;
    align-items: center;
    margin-top: 40px;

    gap: 30px;


}

._info__text h5 {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #fff;


}

._info__text P {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #fff;
    opacity: 0.7;
}